version: "3.8"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    command: flask run --host=0.0.0.0
    image: recommendation-image
    ports:
      - "5000:5000"
    volumes:
    - .:/app